{% extends 'base.html' %}


{% block title %}Images{% endblock %}

{% block content %}
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Images</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            {% set index = 0 %}
            {% for filename in filenames %}
                {% set index = index + 1 %}
                <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{{ loop.index }}">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                    </div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename=filename) }}" alt="">
                </a>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>


    <!-- Portfolio Modals -->
    {% set index = 0 %}
    {% for filename in filenames %}
        {% set index = index + 1 %}
        <div class="portfolio-modal mfp-hide" id="portfolio-modal-{{ loop.index }}">
            <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{ url_for('static', filename=filename) }}" alt="">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                    <i class="fa fa-close"></i>
                    Close Project</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

  {% endblock %}
