{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Login</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="POST" name="login" id="loginForm" novalidate="novalidate">
                    <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Username</label>
                        <input class="form-control" id="username" name="username" type="text" placeholder="Username" required="required" data-validation-required-message="Please enter your username.">
                        <p class="help-block text-danger"></p>
                    </div>
                    </div>
                    <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Password</label>
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password.">
                        <p class="help-block text-danger"></p>
                    </div>
                    </div>
                    <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Confirm password</label>
                        <input class="form-control" id="password" name="password-confirm" type="password" placeholder="Confirm password" required="required" data-validation-required-message="Please confirm your password.">
                        <p class="help-block text-danger"></p>
                    </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary btn-xl" id="sendMessageButton">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
